                <div class="page-header">
                  <h1 class="page-title">
                    Warehouse - {{ page_title }}
                  </h1>
                </div>
                <div class="row row-cards">
                  <div class="col-sm-6 col-lg-3">
                    <div class="card p-3">
                      <div class="d-flex align-items-center">
                        <span class="stamp stamp-md bg-blue mr-3">
                          <i class="fe fe-clipboard"></i>
                        </span>
                        <div>
                          <h4 class="m-0"><a href="/warehouse/index">AP <small>warehouse</small></a></h4>
                          <small class="text-muted">Items in AP warehouses</small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-3">
                    <div class="card p-3">
                      <div class="d-flex align-items-center">
                        <span class="stamp stamp-md bg-green mr-3">
                          <i class="fe fe-book-open"></i>
                        </span>
                        <div>
                          <h4 class="m-0"><a href="/warehouse/central">Central <small>warehouse</small></a></h4>
                          <small class="text-muted">Items in Central warehouses</small>
                        </div>
                      </div>
                    </div>
                  </div>
<!--
                  <div class="col-sm-6 col-lg-3">
                    <div class="card p-3">
                      <div class="d-flex align-items-center">
                        <span class="stamp stamp-md bg-red mr-3">
                          <i class="fe fe-box"></i>
                        </span>
                        <div>
                          <h4 class="m-0"><a href="/warehouse/movements">Item <small>movement</small></a></h4>
                          <small class="text-muted">Item movement report</small>
                        </div>
                      </div>
                    </div>
                  </div>
                    -->
                  <div class="col-sm-6 col-lg-3">
                    <div class="card p-3">
                      <div class="d-flex align-items-center">
                        <span class="stamp stamp-md bg-yellow mr-3">
                          <i class="fe fe-calendar"></i>
                        </span>
                        <div>
                          <h4 class="m-0"><a href="/warehouse/report">Monthly <small>report</small></a></h4>
                          <small class="text-muted">Monthly report</small>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>